Screen {
    align: center middle;
}

#header_container {
    background: $boost;
    width: 100%;
    height: 3;
    padding: 0 1 0 1;
    margin: 0;
}

#footer_container {
    background: $boost;
    width: 100%;
    height: 3;
    padding: 0 1 0 1;
    margin: 0;
}

#asdas {
    width: 100%;
    padding: 0;
    margin: 0;
}

#map_container {
    height: 100%;
    /*max-width: 60%;*/
    width: 60vw;
    padding: 0;
    margin: 0;

    /*dock: left;*/


}
TextLog {


}



#left_map {
    min-width: 20;
    /*max-width: 20;*/
    width: 20vw;
    padding: 0;
    margin: 0;
    /*dock: left;*/

}


#right_map {
    min-width: 20;
    /*max-width: 20;*/
    width: 20vw;
    padding: 0;
    margin: 0;
    /*dock: right;*/

}

